.navbar{
   background: transparent;
   background: -webkit-linear-gradient(tan, transparent);
   background: -o-linear-gradient(tan, transparent);
   background: -moz-linear-gradient(tan, transparent);
   background: linear-gradient(tan, transparent);

}

.social{
  margin: 10px;
  color:#492602;
}

a{
  color:#492602;
}

a:hover{
  color:#a86a3b;

}

.navbar-brand{
  color: #492602;
}
.navbar-brand:hover{
  color:#492602;

}

.active{
  background-color: #966331;
}

.inner{
  color:#492602;

}

.title{
  margin-top: 100px;
  text-align: center;
}

.infield{
  text-align: center;
  position: relative;
  color: #966331;

}

input[type=text]:focus{
  border-color: #FAEBD7;
}

p{
  color: #966331;
}

.imgsize{
  height: 160px;
  width:220px;
  margin:10px;
}
/*ng animate stuff (still not working )*/
div.ng-enter{
    animation: slideInUp 2s;
}

div.ng-leave{
    animation: bounceOut 1s;
}
.modal.ng-enter{
    animation: fadeIn 1s;
}

.modal-body{
  background-color: #fff;
  width: 700px;
  margin: 0 auto;

}
.modal-header{
  background-color: #fff;
  width: 700px;
  margin: 0 auto;
}
.modal-footer{
  background-color: #fff;
  width: 700px;
  margin: 0 auto;
}
