.navbar{
   background: transparent;
   background: -webkit-linear-gradient(tan, transparent);
   background: -o-linear-gradient(tan, transparent);
   background: -moz-linear-gradient(tan, transparent);
   background: linear-gradient(tan, transparent);
   border:0px;

}


.social{
  margin: 10px;
  color:#492602;
}

a{
  color:#492602;
}

a:hover{
  color:#a86a3b;

}

.navbar-brand{
  color: #492602;
}
.navbar-brand:hover{
  color:#492602;

}

.active{
  background-color: #966331;
}

.inner{
  color:#492602;

}

.title{
  margin-top: 100px;
  text-align: center;
}

.infield{
  text-align: center;
  position: relative;
  color: #966331;

}

p{
  color: #966331;
}

.imgsize{
  height: 160px;
  width:220px;
  margin:10px;
}

.portraits{
  position:relative;
 width:100%
}

.img1{
  height: auto;
  width:50%;
  margin-top: 100px;
  margin-left: 20%;
}

.img1:hover{

}
